In [16]:
import pandas as pd
import numpy as np

In [17]:
df = pd.read_csv('../data/merged_dataset.csv')
df.head()

,username,name,age,location,ethnicity,occupation,status,phone,inet,email,description,messages,justifications
0,fredJ,Fred Millestone,49,"San Diego, California, United States",white,military,–,–,178.238.213.161,fred.millestone@yahoo.com,"I am a simple and easy going man,I do not like...",hello beauty can we chat? add me fred.millesto...,IP is a proxy\nIP doesn’t correspond location\...
1,donald200,Donald Steve,46,Ireland,white,Self Employed,widowed,widowed,164.82.146.3,donaldsteve200@yahoo.com,"Am smart, organized, intelligent, honest, cari...","How are you doing,I’m Donald from Ireland… am ...",IP is a proxy\nIP doesn’t correspond location\...
2,huddleman,Peter,45,"Arlington, or Andrews, or Dallas, Texas, Unite...",white,military,widowed,widowed,69.115.19.232,frankiess8928@gmail.com,"I am sweet, thoughtful, kind, intelligent, and...",–,IP is a proxy\nIP doesn’t correspond location\...
3,jannycutelove,Jane Douglas,33,"Vancouver, Canada",white,student,single,single,67.191.26.153,janedouglas231@yahoo.com,"I am an attractive, physically and mentally he...",–,IP is a proxy\nIP doesn’t correspond location\...
4,Richardholdy,David Holdridge,47,"Bedford, Pennsylvania, United states",white,military,widowed,widowed,199.15.250.244,david_holdy@yahoo.com,"I am a loyal,friendly ,and always supportive ....",Its really a pleasure to hear from back from u...,IP is a proxy\nIP doesn’t correspond location\...

In [18]:
df.replace("–", np.nan, inplace=True)

In [19]:
df.describe()

,username,name,age,location,ethnicity,occupation,status,phone,inet,email,description,messages,justifications
count,3747,3747,3744,3747,3586,3451,3554,3558,3502,3745,3593,1735,3747
unique,3737,3603,266,1974,35,1049,32,191,3298,3734,3542,1722,2514
top,james,David,51,"New York, United States",white,military,single,single,widowed,lilian1988john@yahoo.com,"am a loving, caring and good looking man, i lo...",same as description,IP is a proxy\nIP doesn’t correspond location\...
freq,2,5,157,338,2469,375,1883,1794,11,2,3,3,205

In [20]:
df["username"].value_counts()

username
james                  2
wilson                 2
Lawrence               2
steven                 2
john                   2
                      ..
davidmckinney200030    1
honeybunch104          1
johnrensburg1          1
lorensseeking          1
Gabrielax              1
Name: count, Length: 3737, dtype: int64

In [21]:
df.notnull().sum()

username          3747
name              3747
age               3744
location          3747
ethnicity         3586
occupation        3451
status            3554
phone             3558
inet              3502
email             3745
description       3593
messages          1735
justifications    3747
dtype: int64