In [54]:
import nltk
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.stem.porter import PorterStemmer
import pandas as pd

In [55]:
stemmer = PorterStemmer()
 
def stem_words(text):
    # Split the input sentence into words
    word_tokens = text.split()
    # Stem each word individually
    stems = [stemmer.stem(word) for word in word_tokens]
    # Join the stemmed words back into a sentence
    stemmed_sentence = ' '.join(stems)
    return stemmed_sentence
def to_lower(value):
    # Process the value and return the result
    # For example, convert the value to lowercase
    return value.lower()
 
text = 'text preprocessing techniques for natural language processing by Aysel Aydin'
stem_words(text)

'text preprocess techniqu for natur languag process by aysel aydin'

In [56]:
combined=pd.read_csv("/Users/benedicthalim/Documents/DSA4264_Dating_Fraud/data/processed/combined_profiles.csv")

In [57]:
combined

,age,location,ethnicity,occupation,status,description,scam,age_group,country
0,45,"New York, United states",white,engineering,divorced,"I’m balanced: secure enough to be vulnerable, ...",1,41-50,United states
1,22,"Debry, United Kingdom",mixed,self-employed,single,easygoing young girl looking for a nice partner,1,21-30,United Kingdom
2,49,"Providence, Utah, United States",white,military,divorced,I enjoy a variety of things. I am a 49 years o...,1,41-50,United States
3,48,"Castrop-Rauxel, Germany, or New York, or Los A...",white,finance,widowed,I am an optimistic person who has different in...,1,41-50,United States
4,48,"Miami, Florida, United States",white,other,widowed,"am a gentle woman, i love going to church, wil...",1,41-50,United States
...,...,...,...,...,...,...,...,...,...
5970,65,"South Carolina, United States",white,military,single,My name is Frank j Grass from Anorld Missouri ...,1,61-70,United States
5971,53,"Austin, Texas, United States",mixed,construction,divorced,I am michalis from Greece living and working a...,1,51-60,United States
5972,50,"London, United Kingdom",mixed,contractor,widowed,I believe that you should treat others the way...,1,51-60,United Kingdom
5973,37,"Durban, South Africa",black,security,single,I love being with my women n spend time with her,0,31-40,South Africa
5974,33,"California, United States",white,other,single,"Am Silva, 33, single never married, no kids an...",1,31-40,United States

In [58]:
combined['description']=combined['description'].apply(to_lower)

In [59]:
import nltk
from nltk.corpus import stopwords

# Download the list of stopwords if not already downloaded
nltk.download('stopwords')

def remove_stopwords(text):
    stop_words = set(stopwords.words('english'))
    words = text.split()
    return ' '.join([word for word in words if word.lower() not in stop_words])
combined['description'] = combined['description'].apply(remove_stopwords)

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/benedicthalim/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [60]:
combined

,age,location,ethnicity,occupation,status,description,scam,age_group,country
0,45,"New York, United states",white,engineering,divorced,"i’m balanced: secure enough vulnerable, strong...",1,41-50,United states
1,22,"Debry, United Kingdom",mixed,self-employed,single,easygoing young girl looking nice partner,1,21-30,United Kingdom
2,49,"Providence, Utah, United States",white,military,divorced,enjoy variety things. 49 years old sports fan ...,1,41-50,United States
3,48,"Castrop-Rauxel, Germany, or New York, or Los A...",white,finance,widowed,"optimistic person different interests, earth w...",1,41-50,United States
4,48,"Miami, Florida, United States",white,other,widowed,"gentle woman, love going church, willing meet ...",1,41-50,United States
...,...,...,...,...,...,...,...,...,...
5970,65,"South Carolina, United States",white,military,single,"name frank j grass anorld missouri reside sc,i...",1,61-70,United States
5971,53,"Austin, Texas, United States",mixed,construction,divorced,michalis greece living working engineer/indepe...,1,51-60,United States
5972,50,"London, United Kingdom",mixed,contractor,widowed,"believe treat others way want treated. earth, ...",1,51-60,United Kingdom
5973,37,"Durban, South Africa",black,security,single,love women n spend time,0,31-40,South Africa
5974,33,"California, United States",white,other,single,"silva, 33, single never married, kids born rai...",1,31-40,United States

In [61]:
combined['stem']=combined['description'].apply(stem_words)

In [62]:
combined

,age,location,ethnicity,occupation,status,description,scam,age_group,country,stem
0,45,"New York, United states",white,engineering,divorced,"i’m balanced: secure enough vulnerable, strong...",1,41-50,United states,"i’m balanced: secur enough vulnerable, strong ..."
1,22,"Debry, United Kingdom",mixed,self-employed,single,easygoing young girl looking nice partner,1,21-30,United Kingdom,easygo young girl look nice partner
2,49,"Providence, Utah, United States",white,military,divorced,enjoy variety things. 49 years old sports fan ...,1,41-50,United States,enjoy varieti things. 49 year old sport fan ma...
3,48,"Castrop-Rauxel, Germany, or New York, or Los A...",white,finance,widowed,"optimistic person different interests, earth w...",1,41-50,United States,"optimist person differ interests, earth woman ..."
4,48,"Miami, Florida, United States",white,other,widowed,"gentle woman, love going church, willing meet ...",1,41-50,United States,"gentl woman, love go church, will meet someon ..."
...,...,...,...,...,...,...,...,...,...,...
5970,65,"South Carolina, United States",white,military,single,"name frank j grass anorld missouri reside sc,i...",1,61-70,United States,"name frank j grass anorld missouri resid sc,i’..."
5971,53,"Austin, Texas, United States",mixed,construction,divorced,michalis greece living working engineer/indepe...,1,51-60,United States,michali greec live work engineer/independ cont...
5972,50,"London, United Kingdom",mixed,contractor,widowed,"believe treat others way want treated. earth, ...",1,51-60,United Kingdom,"believ treat other way want treated. earth, op..."
5973,37,"Durban, South Africa",black,security,single,love women n spend time,0,31-40,South Africa,love women n spend time
5974,33,"California, United States",white,other,single,"silva, 33, single never married, kids born rai...",1,31-40,United States,"silva, 33, singl never married, kid born rais ..."

In [63]:
column_list = combined['stem'].tolist()

# Uni-gram

In [64]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer(max_features=1000)

X = vectorizer.fit_transform(column_list)

feature_names = vectorizer.get_feature_names_out()

X_array = X.toarray()

print("Unique Word List: \n", feature_names)
print("Bag of Words Matrix: \n", X_array)

Unique Word List:
 ['100' '30' 'abl' 'about' 'accept' 'achiev' 'across' 'act' 'action'
 'activ' 'active' 'activities' 'actual' 'adapt' 'add' 'ador' 'advantag'
 'adventur' 'adventure' 'adventures' 'adventurous' 'affect' 'affection'
 'affectionate' 'afraid' 'again' 'age' 'ago' 'ahead' 'air' 'all' 'allow'
 'almost' 'alon' 'alone' 'along' 'alot' 'alreadi' 'also' 'although'
 'alway' 'am' 'ambitious' 'america' 'american' 'and' 'anim' 'animals'
 'anoth' 'answer' 'anyon' 'anyone' 'anyth' 'anything' 'appreci' 'are'
 'area' 'armi' 'around' 'art' 'ask' 'aspect' 'athlet' 'attent' 'attentive'
 'attitud' 'attract' 'attractive' 'averag' 'away' 'back' 'background'
 'bad' 'balanc' 'base' 'basic' 'be' 'beach' 'beauti' 'beautiful' 'becom'
 'begin' 'being' 'believ' 'belov' 'best' 'better' 'beyond' 'big' 'bike'
 'bit' 'black' 'bless' 'blue' 'bodi' 'body' 'book' 'books' 'bore' 'born'
 'bowl' 'boy' 'bright' 'bring' 'brown' 'build' 'bunch' 'busi' 'but'
 'california' 'call' 'calm' 'came' 'camp' 'camping' 'can' 'canada'
 'cannot' 'capabl' 'car' 'care' 'career' 'caring' 'carri' 'casual' 'cat'
 'caus' 'challeng' 'chanc' 'chang' 'charact' 'character' 'charm'
 'charming' 'chat' 'cheat' 'cheer' 'cheerful' 'chemistri' 'cherish'
 'child' 'children' 'chill' 'christian' 'church' 'cinema' 'citi' 'classic'
 'clean' 'clear' 'clever' 'close' 'co' 'coffe' 'color' 'com' 'come'
 'comfort' 'commit' 'commitment' 'common' 'commun' 'communication'
 'communicative' 'compani' 'companion' 'companionship' 'company'
 'compassion' 'compassionate' 'complet' 'concert' 'concerts' 'confid'
 'confident' 'connect' 'consid' 'consider' 'considerate' 'contact'
 'continu' 'contractor' 'convers' 'conversation' 'cook' 'cooking' 'cool'
 'could' 'countri' 'countries' 'country' 'coupl' 'cours' 'cozi' 'crazi'
 'creat' 'creativ' 'creative' 'cuddl' 'cultur' 'culture' 'cultures'
 'curiou' 'current' 'cute' 'dad' 'danc' 'dance' 'dancing' 'dark' 'date'
 'daughter' 'day' 'deal' 'dear' 'death' 'decent' 'decid' 'dedic' 'deep'
 'definit' 'depend' 'describ' 'desir' 'destini' 'detail' 'determin'
 'develop' 'devot' 'die' 'differ' 'difficult' 'dine' 'dinner' 'dinners'
 'direct' 'discov' 'distanc' 'divorc' 'do' 'doctor' 'doesn' 'dog' 'dogs'
 'don' 'done' 'dont' 'door' 'down' 'drama' 'dream' 'dreamer' 'dreams'
 'dress' 'drink' 'drive' 'drug' 'eager' 'earth' 'easi' 'easili' 'easily'
 'easy' 'eat' 'educ' 'educated' 'either' 'els' 'else' 'email' 'emot' 'end'
 'energet' 'energetic' 'energi' 'engin' 'english' 'enjoy' 'enough' 'equal'
 'especi' 'establish' 'etc' 'even' 'event' 'events' 'ever' 'everi'
 'everyday' 'everyon' 'everyth' 'everything' 'excel' 'except' 'excit'
 'exercis' 'exercise' 'exist' 'expect' 'experi' 'experiences' 'explor'
 'express' 'extrem' 'eye' 'eyes' 'face' 'fair' 'faith' 'faithful' 'fall'
 'famili' 'family' 'far' 'fashion' 'fast' 'father' 'favorit' 'fear'
 'fearing' 'feel' 'feelings' 'fight' 'fighter' 'fill' 'financi' 'find'
 'fine' 'fire' 'first' 'fish' 'fishing' 'fit' 'flower' 'focus' 'follow'
 'food' 'footbal' 'for' 'forev' 'forever' 'form' 'forward' 'found'
 'foundat' 'free' 'friend' 'friendli' 'friendly' 'friends' 'friendship'
 'front' 'fulfil' 'full' 'fullest' 'fun' 'funni' 'funny' 'futur' 'future'
 'game' 'games' 'garden' 'gardening' 'gener' 'generous' 'gentl' 'gentle'
 'gentleman' 'genuin' 'genuine' 'germani' 'get' 'gift' 'girl' 'give'
 'given' 'glad' 'glass' 'gmail' 'go' 'goal' 'goals' 'god' 'goe' 'going'
 'golf' 'gonna' 'good' 'got' 'great' 'greatest' 'grow' 'guess' 'guy' 'gym'
 'hair' 'half' 'hand' 'hands' 'handsom' 'hang' 'happen' 'happi'
 'happiness' 'happy' 'hard' 'hardwork' 'hardworking' 'hate' 'have' 'head'
 'health' 'healthi' 'healthy' 'hear' 'heart' 'hearted' 'height' 'hello'
 'help' 'her' 'here' 'hi' 'high' 'hike' 'hiking' 'him' 'hit' 'hobbi'
 'hold' 'home' 'homely' 'honest' 'honesti' 'honesty' 'honor' 'hope' 'hot'
 'hous' 'however' 'hug' 'human' 'humbl' 'humble' 'humor' 'humorous'
 'humour' 'hurt' 'husband' 'idea' 'ideal' 'if' 'im' 'import' 'important'
 'improv' 'in' 'includ' 'independ' 'independent' 'individu' 'inner'
 'insid' 'instead' 'integr' 'integrity' 'intellectu' 'intellig'
 'intelligent' 'interest' 'interesting' 'interests' 'internet' 'involv'
 'is' 'isn' 'it' 'italian' 'jazz' 'job' 'join' 'joke' 'journey' 'jovial'
 'joy' 'judg' 'keep' 'key' 'kid' 'kids' 'kind' 'kindness' 'kiss' 'know'
 'knowledg' 'ladi' 'lady' 'laid' 'lake' 'languag' 'last' 'late' 'later'
 'laugh' 'laughs' 'laughter' 'lead' 'learn' 'least' 'leav' 'left' 'less'
 'let' 'level' 'lie' 'lies' 'life' 'light' 'lik' 'like' 'listen'
 'listener' 'listening' 'littl' 'live' 'll' 'lol' 'lone' 'long' 'look'
 'looking' 'lose' 'lost' 'lot' 'lov' 'love' 'loved' 'lovely' 'lover'
 'loving' 'loyal' 'lucki' 'made' 'mail' 'maintain' 'make' 'male' 'man'
 'mani' 'marri' 'marriag' 'marriage' 'married' 'match' 'mate' 'matter'
 'matur' 'mature' 'may' 'mayb' 'me' 'meal' 'mean' 'meaning' 'meant' 'meet'
 'men' 'mental' 'messag' 'met' 'mi' 'might' 'militari' 'mind' 'minded'
 'mine' 'minut' 'miss' 'mom' 'moment' 'money' 'month' 'mood' 'moral'
 'more' 'mostli' 'mother' 'motiv' 'mountain' 'mountains' 'move' 'movi'
 'movie' 'movies' 'mr' 'much' 'music' 'must' 'mutual' 'myself' 'name'
 'natur' 'nature' 'near' 'need' 'never' 'new' 'next' 'nice' 'night' 'no'
 'non' 'normal' 'not' 'noth' 'now' 'number' 'ocean' 'offer' 'often' 'ok'
 'old' 'on' 'once' 'one' 'onlin' 'open' 'opinion' 'opportun' 'optimist'
 'optimistic' 'or' 'order' 'ori' 'orient' 'oriented' 'origin' 'other'
 'others' 'out' 'outdoor' 'outdoors' 'outgo' 'outgoing' 'outlook' 'outsid'
 'own' 'pamper' 'parent' 'park' 'part' 'partner' 'pass' 'passion'
 'passionate' 'past' 'patient' 'pay' 'peac' 'peopl' 'people' 'perfect'
 'person' 'personality' 'pet' 'photo' 'physic' 'pictur' 'place' 'places'
 'plan' 'play' 'pleas' 'pleasant' 'please' 'pleasur' 'point' 'pool'
 'posit' 'positive' 'possibl' 'possible' 'power' 'practic' 'pray' 'prefer'
 'present' 'pretti' 'principl' 'principles' 'privat' 'probabl' 'problem'
 'profession' 'professional' 'profil' 'profile' 'project' 'promis'
 'protect' 'proud' 'provid' 'public' 'put' 'qualiti' 'queen' 'quick'
 'quiet' 'quit' 'race' 'rais' 'rather' 'reach' 'read' 'readi' 'reading'
 'real' 'realiz' 'realli' 'reason' 'receiv' 'recent' 'regret' 'relat'
 'relationship' 'relationships' 'relax' 'reliabl' 'reliable' 'religion'
 'reloc' 'requir' 'respect' 'respectful' 'respons' 'responsible' 'rest'
 'retir' 'return' 'rich' 'ride' 'right' 'road' 'rock' 'romanc' 'romance'
 'romant' 'romantic' 'room' 'run' 'said' 'same' 'say' 'school' 'sea'
 'search' 'second' 'secur' 'see' 'seek' 'seem' 'self' 'selfish' 'send'
 'sens' 'sensit' 'sensitive' 'sensual' 'seriou' 'serious' 'serv' 'set'
 'settl' 'sex' 'sexi' 'sexual' 'sexy' 'shape' 'share' 'she' 'shi' 'shop'
 'shopping' 'short' 'show' 'shows' 'shy' 'side' 'silli' 'similar' 'simpl'
 'simple' 'simpli' 'sinc' 'sincer' 'sincere' 'sing' 'singl' 'single' 'sit'
 'site' 'situat' 'sleep' 'small' 'smart' 'smile' 'smoke' 'so' 'soccer'
 'sociabl' 'sociable' 'social' 'soft' 'somebodi' 'someon' 'someone'
 'someth' 'something' 'sometim' 'somewhat' 'son' 'soon' 'soul' 'soulmat'
 'soulmate' 'sound' 'spanish' 'speak' 'special' 'spend' 'spirit' 'spiritu'
 'spontan' 'spontaneous' 'sport' 'sports' 'stabl' 'stable' 'stand' 'star'
 'start' 'state' 'stay' 'step' 'still' 'stop' 'straight' 'strength'
 'strong' 'studi' 'stuff' 'style' 'success' 'summer' 'sun' 'sunset'
 'super' 'support' 'supportive' 'sure' 'surpris' 'surround' 'sweet' 'swim'
 'swimming' 'take' 'talk' 'tall' 'teach' 'tell' 'tend' 'tender' 'tennis'
 'term' 'text' 'th' 'thank' 'that' 'theater' 'them' 'there' 'thing'
 'things' 'think' 'thinker' 'this' 'though' 'thought' 'thoughtful' 'three'
 'till' 'time' 'times' 'tire' 'to' 'today' 'togeth' 'together' 'told'
 'toler' 'too' 'total' 'touch' 'toward' 'town' 'travel' 'traveling'
 'travelling' 'treat' 'treated' 'tri' 'trip' 'true' 'truli' 'trust'
 'trustworthi' 'trustworthy' 'truth' 'truthful' 'try' 'turn' 'tv' 'two'
 'type' 'understand' 'understanding' 'uniqu' 'unit' 'unless' 'up' 'upon'
 'us' 'usa' 'use' 'usual' 'valu' 'values' 'varieti' 'veri' 'view' 'visit'
 'wait' 'walk' 'walking' 'walks' 'wanna' 'want' 'warm' 'wast' 'watch'
 'water' 'way' 'ways' 'we' 'weather' 'week' 'weekend' 'well' 'what'
 'whatev' 'whether' 'white' 'who' 'whole' 'widow' 'wife' 'will' 'wine'
 'wise' 'wish' 'wit' 'with' 'without' 'woman' 'women' 'won' 'wonder'
 'word' 'words' 'work' 'worker' 'working' 'world' 'worri' 'worth' 'worthi'
 'would' 'write' 'wrong' 'yahoo' 'year' 'years' 'yes' 'yet' 'you' 'young'
 'younger' 'yourself' 'yr']
Bag of Words Matrix:
 [[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

In [65]:
len(feature_names)

1000

In [66]:
import pandas as pd

df = pd.DataFrame(data=X_array, columns=feature_names,index=column_list)

In [67]:
df.head()

,100,30,abl,about,accept,achiev,across,act,action,activ,...,yahoo,year,years,yes,yet,you,young,younger,yourself,yr
"i’m balanced: secur enough vulnerable, strong enough gentle, wise enough humble, power enough serv others. don’t let word other stop me. fear god.i quiet confidence, faith, belief conquer whatev life may bring. put god first, famili second, third. all, tri enorm mean tri realli hard respect other but!!!remain true myself. one thing… life keep gettin’ better…",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
easygo young girl look nice partner,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
"enjoy varieti things. 49 year old sport fan man utah. brown eye black hair, bodi athletic, live alone. children, sometim live home i’m single, white / caucasian, like funni woman. i’m look you, hetero, singl clever girl, like athlet man. come me!",0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
"optimist person differ interests, earth woman consid confident, intelligent, honest, romantic, spontaneous, treatment big heart, easi get along posit personality, ambitious, driven, confident, expressive, attentive, passionate, good christian sens humor, love cooking, sports, movies, music, i’m open mind fun loving, littl thing life count, i’m drug, smoke diseas free, relax person, easi get along good listen good sens humor, relationship optimistic.",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"gentl woman, love go church, will meet someon readi seriou relationship, like puzzle, you, fix messag me, distanc never problem",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [68]:
X=df
Y=combined['scam']

In [69]:
Y

0       1
1       1
2       1
3       1
4       1
       ..
5970    1
5971    1
5972    1
5973    0
5974    1
Name: scam, Length: 5975, dtype: int64

In [70]:
#train test split
from sklearn.model_selection import train_test_split
from sklearn import model_selection, naive_bayes, svm
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=5)

In [71]:
print('BOW_cv_train:',X_train.shape)
print('BOW_cv_test:',X_test.shape)

BOW_cv_train: (4780, 1000)
BOW_cv_test: (1195, 1000)

In [72]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

In [73]:
#training the model with CountVectorizer features
mnb=MultinomialNB()
#fitting the nb for bag of words
mnb_bow=mnb.fit(X_train,Y_train)
print(mnb_bow)

MultinomialNB()

In [74]:
mnb_bow_predict=mnb.predict(X_test)

In [75]:
mnb_bow_score=accuracy_score(Y_test,mnb_bow_predict)
print("mnb_bow_score :",mnb_bow_score)

mnb_bow_score : 0.8167364016736401

In [76]:
mnb_bow_report = classification_report(Y_test,mnb_bow_predict,target_names = ['0','1'])
print(mnb_bow_report)
cm_cv = confusion_matrix(Y_test,mnb_bow_predict)
cm_cv

              precision    recall  f1-score   support

           0       0.82      0.81      0.81       595
           1       0.81      0.82      0.82       600

    accuracy                           0.82      1195
   macro avg       0.82      0.82      0.82      1195
weighted avg       0.82      0.82      0.82      1195

array([[482, 113],
       [106, 494]])

In [78]:
# Get the feature log probabilities from the trained Naive Bayes model
feature_log_probs = mnb.feature_log_prob_

# Print the shape of the feature log probabilities array
print("Shape of feature log probabilities:", feature_log_probs.shape)

# Get feature names from the vectorizer
feature_names = vectorizer.get_feature_names_out()

# Create a dictionary mapping feature names to log probabilities
feature_log_probs_dict = dict(zip(feature_names, feature_log_probs[1]))  # Assuming binary classification, index 1 for positive class

# Sort feature log probabilities by value
sorted_features = sorted(feature_log_probs_dict.items(), key=lambda x: x[1], reverse=True)

# Print the top N features with highest log probabilities
top_n = 10
for feature, log_prob in sorted_features[:top_n]:
    print(f"Feature: {feature}, Log Probability: {log_prob}")

Shape of feature log probabilities: (2, 1000)
Feature: love, Log Probability: -3.359437733854582
Feature: like, Log Probability: -3.971486128915517
Feature: life, Log Probability: -3.9727535562081204
Feature: man, Log Probability: -4.079735903480478
Feature: good, Log Probability: -4.259379327727208
Feature: look, Log Probability: -4.261916326973797
Feature: woman, Log Probability: -4.31942345927694
Feature: person, Log Probability: -4.326624210462522
Feature: honest, Log Probability: -4.55044549816323
Feature: someon, Log Probability: -4.565243719262179

In [79]:
SVM = svm.SVC(C=1.0, kernel='linear', degree=3, gamma='auto')
SVM.fit(X_train,Y_train)

SVC(gamma='auto', kernel='linear')

In [80]:
predictions_SVM = SVM.predict(X_test)

In [81]:
print("SVM Accuracy Score -> ",accuracy_score(predictions_SVM, Y_test)*100)

SVM Accuracy Score ->  84.85355648535565

In [82]:
# Assuming you have trained an SVM model named 'svm_model'

# Get the coefficients assigned to each feature
coefficients = SVM.coef_

# Assuming you have a vectorizer for feature extraction
feature_names = vectorizer.get_feature_names_out()

# Create a dictionary to map feature names to coefficients
feature_coefficients = dict(zip(feature_names, coefficients[0]))

# Sort the feature coefficients by their absolute values
sorted_features = sorted(feature_coefficients.items(), key=lambda x: abs(x[1]), reverse=True)

# Print or analyze the top features
for feature, coefficient in sorted_features[:10]:
    print(f"Feature: {feature}, Coefficient: {coefficient}")

Feature: com, Coefficient: 2.3760273776160834
Feature: fear, Coefficient: 2.0129955954122574
Feature: dear, Coefficient: 1.9676372401401796
Feature: armi, Coefficient: 1.937307094377123
Feature: down, Coefficient: 1.9330559140521832
Feature: don, Coefficient: 1.9004850357378447
Feature: unit, Coefficient: 1.8882250958639912
Feature: alreadi, Coefficient: -1.8829276995599566
Feature: whole, Coefficient: 1.73864148116203
Feature: fearing, Coefficient: 1.7223403372658181

In [83]:
from sklearn.ensemble import RandomForestClassifier
classifier=RandomForestClassifier(n_estimators =400,criterion="entropy",random_state =0)
classifier.fit(X_train,Y_train)
# Predicting the Test set results
y_pred = classifier.predict(X_test)

# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm2 = confusion_matrix(Y_test, y_pred)

In [84]:
print("random forest Accuracy Score -> ",accuracy_score(y_pred, Y_test)*100)

random forest Accuracy Score ->  88.20083682008368

In [86]:

import numpy as np# Get feature importances
# Get feature importances
importances = classifier.feature_importances_

# Get the indices of features sorted by importance
sorted_indices = np.argsort(importances)[::-1]

# Get the feature names
feature_names = vectorizer.get_feature_names_out()

# Print the most important words
top_k = 10  # You can change this to get more or fewer top words
print(f"Top {top_k} important words:")
for i in range(top_k):
    idx = sorted_indices[i]
    print(f"Feature {i+1}: {feature_names[idx]} (Importance: {importances[idx]:.4f})")

Top 10 important words:
Feature 1: man (Importance: 0.0273)
Feature 2: care (Importance: 0.0261)
Feature 3: love (Importance: 0.0208)
Feature 4: easi (Importance: 0.0180)
Feature 5: com (Importance: 0.0164)
Feature 6: caring (Importance: 0.0160)
Feature 7: honest (Importance: 0.0160)
Feature 8: life (Importance: 0.0136)
Feature 9: like (Importance: 0.0116)
Feature 10: don (Importance: 0.0116)

In [87]:
from sklearn.metrics import confusion_matrix

# Assuming y_true contains the true labels and y_pred contains the predicted labels
# You need to replace y_true and y_pred with your actual data
y_true = Y_test  # True labels


# Calculate the confusion matrix
conf_matrix = confusion_matrix(y_true, y_pred)

# Extract true positives, false negatives, false positives, and true negatives from the confusion matrix
true_negatives = conf_matrix[0, 0]
false_negatives = conf_matrix[1, 0]
true_positives = conf_matrix[1, 1]
false_positives = conf_matrix[0, 1]

# Calculate the false negative rate
false_negative_rate = false_negatives / (false_negatives + true_positives)
print("False Negative Rate:", false_negative_rate)

False Negative Rate: 0.11166666666666666

# Combining the model tgt