In [ ]:
import pandas as pd
import numpy as np
import re
import pandas as pd
from googletrans import Translator

# !pip install googletrans==3.1.0a0

# Scammer profiles

In [2]:
scammers_df = pd.read_csv('../data/interim/scam_profiles.csv')

In [3]:
# replace "–" with NaN
scammers_df.replace("–", np.nan, inplace=True)
scammers_df.head()

,username,name,age,location,ethnicity,occupation,status,phone,inet,email,description,messages,justifications
0,fredJ,Fred Millestone,49,"San Diego, California, United States",white,military,NaN,NaN,178.238.213.161,fred.millestone@yahoo.com,"I am a simple and easy going man,I do not like...",hello beauty can we chat? add me fred.millesto...,IP is a proxy\nIP doesn’t correspond location\...
1,donald200,Donald Steve,46,Ireland,white,Self Employed,widowed,widowed,164.82.146.3,donaldsteve200@yahoo.com,"Am smart, organized, intelligent, honest, cari...","How are you doing,I’m Donald from Ireland… am ...",IP is a proxy\nIP doesn’t correspond location\...
2,huddleman,Peter,45,"Arlington, or Andrews, or Dallas, Texas, Unite...",white,military,widowed,widowed,69.115.19.232,frankiess8928@gmail.com,"I am sweet, thoughtful, kind, intelligent, and...",NaN,IP is a proxy\nIP doesn’t correspond location\...
3,jannycutelove,Jane Douglas,33,"Vancouver, Canada",white,student,single,single,67.191.26.153,janedouglas231@yahoo.com,"I am an attractive, physically and mentally he...",NaN,IP is a proxy\nIP doesn’t correspond location\...
4,Richardholdy,David Holdridge,47,"Bedford, Pennsylvania, United states",white,military,widowed,widowed,199.15.250.244,david_holdy@yahoo.com,"I am a loyal,friendly ,and always supportive ....",Its really a pleasure to hear from back from u...,IP is a proxy\nIP doesn’t correspond location\...

In [4]:
# drop non overlapping columns
scammers_df = scammers_df.drop(["username", "name", "phone", "inet", "email", "messages", "justifications"], axis=1)
scammers_df = scammers_df.dropna().reset_index(drop=True)

In [5]:
# add "scam" feature
scammers_df.loc[:, "scam"] = 1

# Real profiles

In [6]:
real_df = pd.read_csv('../data/interim/real_profiles.csv')

In [7]:
real_df.replace("-", np.nan, inplace=True)
real_df.head()

,gender,age,location,status,username,ethnicity,occupation,description,match_age,children,orientation,religion,smoking,drinking,intent
0,male,50 y.o.,"East Chicago, IN, USA",widowed,Royer6873,hispanic,NaN,NaN,from 19 to 86,want children,Straight,Other,non-smoker,occasional drinker,Serious Relationship
1,female,42 y.o.,"Mykolaiv, Mykolaiv Oblast, Ukraine, 54000",single,uaola1981,white,NaN,NaN,from 19 to 75,no children,Straight,Other,non-smoker,social drinker,"Friendship, Romance, Serious Relationship, Mar..."
2,female,58 y.o.,"Tulsa, OK, USA",single,Dessarono55,black,Logistics,NaN,from 50 to 60,1-2 living elsewhere,Straight,Spiritual,non-smoker,social drinker,"Serious Relationship, Marriage"
3,male,60 y.o.,"Algiers [El Djazaïr], Algeria",single,maliktabib1964,white,NaN,NaN,from 19 to 50,no children,Straight,Muslim,non-smoker,never,Friendship
4,male,28 y.o.,"Santo Domingo de los Tsáchilas, Ecuador",single,Jaron26,hispanic,Ingeniero Agropecuario,NaN,from 25 to 30,no children,Straight,Christian,non-smoker,never,"Fun, Friendship, Romance, Serious Relationship..."

In [8]:
# extract just the age from the age column
real_df["age"] = real_df["age"].str.extract(r'(\d+)')

In [9]:
# drop non overlapping columns
real_df = real_df.drop(["gender", "username", "children", "orientation", "religion", "smoking", "drinking", "intent", "match_age"], axis=1)

In [10]:
# Add "scam" feature
real_df.loc[:, "scam"] = 0

# Combine dataframes

In [11]:
df_combined = pd.concat([scammers_df, real_df], ignore_index=True)
df_combined = df_combined.sample(frac=1, random_state=42).reset_index(drop=True)
df_combined = df_combined.dropna().reset_index(drop=True)
df_combined

,age,location,ethnicity,occupation,status,description,scam
0,45,"New York, United states",white,construct engineering,divorced,"I’m balanced: secure enough to be vulnerable, ...",1
1,22,"Debry, United Kingdom",mixed,self employed,single,easygoing young girl looking for a nice partner,1
2,49,"Providence, Utah, United States",white,military,divorced,I enjoy a variety of things. I am a 49 years o...,1
3,48,"Castrop-Rauxel, Germany, or New York, or Los A...",white,banker,widowed,I am an optimistic person who has different in...,1
4,48,"Miami, Florida, United States",white,business woman,widowed,"am a gentle woman, i love going to church, wil...",1
...,...,...,...,...,...,...,...
6238,65,"South Carolina, United States",white,military,single,My name is Frank j Grass from Anorld Missouri ...,1
6239,53,"Austin, Texas, United States",mixed,construction,divorced,I am michalis from Greece living and working a...,1
6240,50,"London, United Kingdom",mixed,contractor,widowed,I believe that you should treat others the way...,1
6241,37,"Durban, South Africa",black,Police man,single,I love being with my women n spend time with her,0
6242,33,"California, United States",white,student,single,"Am Silva, 33, single never married, no kids an...",1

In [12]:
# find statuses that are only present once
df_combined.loc[:, "status"] = df_combined["status"].apply(lambda x : x.lower())
statuses = np.asarray(df_combined["status"].value_counts().index)
idx_to_remove = np.where(np.asarray(df_combined["status"].value_counts().where(lambda x : x == 1, 0)))[0]
status_to_remove = statuses[idx_to_remove]

# remove statuses that only have 1 count
df_combined = df_combined[~df_combined["status"].isin(status_to_remove)]
df_combined = df_combined[df_combined["status"] != "single or divorced"]

# check counts
df_combined["status"].value_counts()

status
single             3466
divorced           1186
widowed            1091
separated           381
married              51
in relationship      40
widower              10
widow                 4
Name: count, dtype: int64

In [13]:
# standardize status
df_combined.loc[:, "status"] = df_combined["status"].apply(lambda x : "widowed" if x == "widower" else x)
df_combined.loc[:, "status"] = df_combined["status"].apply(lambda x : "widowed" if x == "widow" else x)

In [14]:
# drop rows in scammers_df if "age" column contains more than just numbers
df_combined = df_combined[df_combined["age"].apply(lambda x : re.match("^\d+$", str(x)) is not None)]

# convert "age" column to integer
df_combined.loc[:, "age"] = df_combined["age"].astype(int)

# bin the ages value in scam dataframe
bins = [0, 20, 30, 40, 50, 60, 70, 80, 90, 100]
labels = ['0-20', '21-30', '31-40', '41-50', '51-60', '61-70', '71-80', '81-90', '91-100']
df_combined['age_group'] = pd.cut(df_combined['age'], bins=bins, labels=labels, right=False)
df_combined['age_group'] = df_combined['age_group'].astype('object')

In [15]:
# extract country
df_combined['country'] = df_combined['location'].apply(lambda x: x.split(',')[-1].strip())

# Additional work to make the data more readable

Translating Descriptions to English

In [18]:
import time
import pandas as pd
from requests.exceptions import ReadTimeout

def translate_text(text, target_language='en'):
    translator = Translator()
    translated_text = translator.translate(text, dest=target_language)
    return translated_text.text

def translate_chunk(chunk, target_language='en'):
    print(chunk)
    translated_chunk = chunk.apply(lambda x: translate_text(x, target_language))
    return translated_chunk

def translate_column(df, columns_to_translate, target_language='en', chunk_size=100, pause_duration=5, max_retries=3):
    for column_name in columns_to_translate:
        num_rows = len(df)
        for i in range(0, num_rows, chunk_size):
            retries = 0
            while retries < max_retries:
                try:
                    chunk = df.iloc[i:i+chunk_size][column_name]
                    translated_chunk = translate_chunk(chunk, target_language)
                    df.iloc[i:i+chunk_size, df.columns.get_loc(column_name)] = translated_chunk
                    print(f"Translated {len(translated_chunk)} rows. Pausing for {pause_duration} seconds...")
                    time.sleep(pause_duration)
                    break  # Exit the retry loop if translation succeeds
                except ReadTimeout:
                    print(f"Timeout error occurred. Retrying...")
                    retries += 1
            else:
                print(f"Max retries reached. Skipping chunk.")
                continue

    # Save the translated dataframe to a new CSV file
    # df.to_csv(output_csv_path, index=False)
    return df

In [21]:
df_combined = translate_column(df_combined, ["description"])

0      I’m balanced: secure enough to be vulnerable, ...
1        easygoing young girl looking for a nice partner
2      I enjoy a variety of things. I am a 49 years o...
3      I am an optimistic person who has different in...
4      am a gentle woman, i love going to church, wil...
                             ...
100                 Alegre, sincero, hogareño, romantico
101    My friends consider me to be an affectionate, ...
102    I’m simple, kind, loyal, serious, focus, depen...
103    Cariñoso,tranquilo, entregado a mi pareja,resp...
104    Hola, soy tranquilo, educado, amigable, educac...
Name: description, Length: 100, dtype: object
Translated 100 rows. Pausing for 5 seconds...
105    God Fearing & Disciplined/Oriented Person. I a...
106    Soy una persona alegre trabajadora y emprendedora
107    am an easy going man, good to be with,sociable...
108    Me gusta cocinar y la musica me encanta bailar...
109    am steve johnson am searching for a good and h...
                             ...
201    I’m open, sensual, kind, gentle, romantic…I’m ...
202    Me gusta pasarla bien, disfrutar buenos moment...
203    I would rather describe myself as a straight p...
204    I want a serious woman who want to be married....
205    Soy una persona sencilla, busco un compañero, ...
Name: description, Length: 100, dtype: object
Translated 100 rows. Pausing for 5 seconds...
206    Me gusta conocer nuevas culturas , compartir c...
207    I am easy-going and enjoy doing just about any...
208    cumplo mis metas, soy muy alegre, soy una chic...
209              Me gustan mayores, quiero pasarla rico.
210    I joined this site to search for a nice woman ...
                             ...
307    soy divertido, realista, trabajador, muy socia...
308    Tranquila, limpia, alegre, familial, pasiva, m...
309    I am Anthony very good looking young man,well ...
310    Soy deportista tambien Atletismo y estudio Pos...
311                          Trabajador,Horado,Romántico
Name: description, Length: 100, dtype: object
Translated 100 rows. Pausing for 5 seconds...
312    Mujer latina quiero conocer personas viviendo ...
313    I'm going on a one week Caribbean vacation the...
314    Am a very decent and humble man who can tolera...
315    Im a Hard working Man that knows when is Time ...
316    Soy muy simple, fácil de llevar. No me gustan ...
                             ...
409    i am in the army, originally from mass travell...
410     Espiritual, alegre y amistoso. Y amo a los niños
411    Me gustaria que me encuentre una chica/ dama d...
412    Soy alto moreno me gusta bailar jugar divertir...
413    I consider myself a tender, gentle, and kind w...
Name: description, Length: 100, dtype: object
Translated 100 rows. Pausing for 5 seconds...
414    i’m from the USA, and i’m here to make new fri...
415    I'm fun loving quite person. I love outdoorsy ...
418    Me gustaría llevar a mi familia a Islandia y c...
419    I think I am an open person, honest, if I thin...
421    Amante de la naturaleza, fiel, optimista, solo...
                             ...
516    i am a simple, straight forward and honest per...
517    Mi nombre es José Enrique tengo 35 años vivo e...
518    Loving caring compassionate individual who lov...
519    I am Christos from Cyprus. I am 1.88cm tall, d...
520    How are you doing?i will like to get to know m...
Name: description, Length: 100, dtype: object
Translated 100 rows. Pausing for 5 seconds...
521    Kind, intelligent, very beautiful young girl g...
522    Me considero un hombre sincero, romantico y ca...
523    me considero una persona divertida de buen sen...
524    Soy una mujer cariñosa, alegre, amable, fiel, ...
525    Varón separado busca dama para relación seria ...
                             ...
620    persona seria, responsable y llena de mucha vi...
621          divertido me gusta bailar,cantar,y trabajar
622                  Open Minded, Honest and Trustworthy
623    Soy una persona que le gusta vivir en armonía ...
624    Soy una chica dulce y humilde, con buen caráct...
Name: description, Length: 100, dtype: object
Translated 100 rows. Pausing for 5 seconds...
625    Soy una persona tranquila, honesta (demasiado ...
626    Soy una persona amable, me gusta el deporte y ...
627    I’m very honest, caring and God fearing person...
628    Soy una persona tranquila, me gusta leer, ir a...
629    Soñadora, resiliente, capaz de amar como si no...
                             ...
728    I am a single man, that is scouting the world ...
729    Me describo como una persona alegre, buen conv...
730    I’m a simple and easy going person. I enjoy ge...
733           ME GUSTA CONOCER GENTE. BAILAR. IR AL CINE
734    Good, attractive girl, I love to cook, go shop...
Name: description, Length: 100, dtype: object
Translated 100 rows. Pausing for 5 seconds...
735    I'm just a lonely man who wants a woman to fil...
736    Viajo a Jakarta y Bali en Febrero de 2023 y qu...
737    i am here to search for a good man. i have alo...
738    My name Sgt marine Angela ,United States Milit...
739    Am easy going someone that love to hang out go...
                             ...
837    Im Mike from Finland im going to Be on Sweden ...
839    Recién salgo de una separación de mutuo acuerd...
841    I am Dawson,a mixed Italian American,single an...
843    Soy una adolescente extrovertida, me gusta muc...
844    I am 32yrs.single never married…I`m 5`7&quot; ...
Name: description, Length: 100, dtype: object
Translated 100 rows. Pausing for 5 seconds...
845    Soy una hombre de muy buen humor que gusta de ...
846    I’m honest, easy going, helpful, open minded, ...
847    Pues me defino como una mujer cincera cariñosa...
848    Soy una persona alegre aventurera me gusta via...
849    Hi… I thought I would throw some keywords that...
                             ...
947    I am happy, successful and have a great life. ...
948    I am very energetic, young, positive, interest...
949    Hello my dear, miss.karagarrick2@yahoo.in\nHow...
950    I am a man who believes in honesty , respect, ...
951    Me nombre es Olga, tengo 29 anos, vivo en Isra...
Name: description, Length: 100, dtype: object
Translated 100 rows. Pausing for 5 seconds...
952     I am really a sincere and honest person.am car...
953     Am caring and God fearing man and i believe in...
954     am a caring and kind person who is searching f...
955                                am caring and adorable
956     hi im an artist that built model trains from c...
                              ...
1049    I am a simple honest and friendly man fun to m...
1050    I am full of a deep sea of love towards my Mr....
1051    Hi, this is a lively lady from Germany in sear...
1052    Very tall in good shape, well endowed, recentl...
1053    I am StanleyDavenport Usa army i like mixup wi...
Name: description, Length: 100, dtype: object
Translated 100 rows. Pausing for 5 seconds...
1054    Out doors is my Bliss, walking on the beach\r\...
1055    i’m open, sensual, kind, gentle, romantic… a d...
1056    please am very busy kindly send me your email ...
1057        I am currently admitted in a private hospital
1058    Remember a 90’s tv ad where a couple are walki...
                              ...
1155    I have been through alot i have seen alot im 3...
1156    I am a fun and energetic guy. I’m a hard worke...
1157    OK dear my name Leonardo Aurick Van Meerten I’...
1158    soy amable y muy respetuosa me encanta salir a...
1159    I am an easy going man with good sense of humo...
Name: description, Length: 100, dtype: object
Translated 100 rows. Pausing for 5 seconds...
1161    Am myself, me and i….i would not like to be so...
1162    I am a lady with simple tastes.i am looking fo...
1163    a nice cool, gentle, honest and funning person...
1164    My match is someone who is looking for an excl...
1165    I'm a loving , honest and adventurous person.i...
                              ...
1259      Soy una persona sencillo me gusta reír y viajar
1260    I am a loving,caring, romantic character and e...
1261    Me gusta leer salir caminar me encanta tener c...
1262    I like football go Eagles NASCAR camping going...
1263    Sociable, entusiasta, no drama\r\nY feliz de d...
Name: description, Length: 100, dtype: object
Translated 100 rows. Pausing for 5 seconds...
1265    My heart is like an open book it’s depend on y...
1266    i am here seeking for a long term relationship...
1267    Soy una persona tranquila, romántico. Me gusta...
1268    I like to meet peoole to share ideas, culture,...
1269    You will never find more positive and active p...
                              ...
1361    My name is Jamila Single lady new to this onli...
1362    I'm outgoing, sensitive and creative. Paradoxi...
1363    My name is Noel Braun, I am 21 years old, I am...
1364                                     Am cool\nBe kind
1365                 Soy detallista Atento y muy sociable
Name: description, Length: 100, dtype: object
Translated 100 rows. Pausing for 5 seconds...
1366        I love meeting people from all over the world
1367    Me gusta ayudar a las personas SER SOLIDARIO ,...
1368    En busca de Dama para matrimonio, hijos, famil...
1369    Educada, sincera,leal,cariñosa, sencilla...lo ...
1370       Soy carismática, cariñosa, dulce y de carácter
                              ...
1469    Hombre de fe sincero soñador y muy creyente en...
1470    I love friends and family, I am a lot of fun a...
1471    Hola soy david un joven con ganas de conocer u...
1472    No me importa la edad ni como te veas ni tus e...
1473    poet\r\nauthor\r\nsongwriter - published\r\nsc...
Name: description, Length: 100, dtype: object
Translated 100 rows. Pausing for 5 seconds...
1474    I'm mature, kind, and lonely. Since my wife di...
1475    Me cosidero amoroso detallisra rromantico buen...
1476    Solo en Mendoza por una semana antes de volver...
1478    I'm looking for a girl who wants to be happy, ...
1479    I am young and energetic boy and looking for y...
                              ...
1573    Tengo una vida resuelta, me encanta viajar y c...
1574    I'm introvert person, so I want to find someon...
1575    Amoroso cariñoso respetuoso con la mujer vivir...
1576    hello I’m Miss Grace how are you i will like t...
1577    Soy algo especia, romántico, social, me consid...
Name: description, Length: 100, dtype: object
Translated 100 rows. Pausing for 5 seconds...
1578    I want to love a woman who likes to receive lo...
1579    Quiero una dama no solo para divertirme sino p...
1580    Latina sería busca el amor en un hombre educad...
1581    Alegre y bien trabajador que gusta siempre sob...
1582    Deep and imaginative, I love music, nature and...
                              ...
1677    looking for an honest lady to have fun with bi...
1678    Hablo inglés e italiano, me gusta platicar, ca...
1679    hi special friends my name patricia an easy go...
1680    Soy una mujer trabajadora,cariñosa amorosa y q...
1681         Cariñoso.hogareño. muy respetuoso .divertido
Name: description, Length: 100, dtype: object
Translated 100 rows. Pausing for 5 seconds...
1682    I am cheerful and sociable girl. I like to bui...
1684    I am a simple man who loves to treat people ho...
1685    I’M HONEST, CARING, AND TIRED OF BEING HURT. L...
1687                   Me encanta la paz es mi mayor meta
1688    I am here for a serious relationship that will...
                              ...
1785    A little about me…\nI am a gentleman always, r...
1786    Soy hombre de una sola mujer trabajador a tiem...
1787    Tengo 26 años ,soy un chico que le encanta la ...
1788    I live to cook, travel and meet new people. I'...
1789    Persona tranquila que desea conocer mujeres ag...
Name: description, Length: 100, dtype: object
Translated 100 rows. Pausing for 5 seconds...
1790    Hi I’m Caleb Sharp I’m 26 years old I was born...
1791    I enjoy the simple things in life. I enjoy goi...
1792    Am a good looking man with full of respect and...
1793     Want to get to know people from around the world
1794    Soy una persona muy hogareña,cariñosa ,tierna ...
                              ...
1891    Me gusta salir de compras, viajar, los eventos...
1892    If you can give me your trust, am sure we can ...
1893    I believe in open communication, standing in o...
1894    Hola, soy chico que vive en europa, busco una ...
1895    I’m honest, dependable, loving, gentle, affect...
Name: description, Length: 100, dtype: object
Translated 100 rows. Pausing for 5 seconds...
1896    I am doctor and staying for one month in praqu...
1897    Soy muy hogareña, me gusta tejer, escuchar mús...
1898    Honestly I don’t know how I’m going to describ...
1899    I'm looking for the right woman, the one who'l...
1900    I am a person who is very real when it comes t...
                              ...
1996    My name is Jeremy i am 29 years old im looking...
1997    Hello, I'm Arai. I'm looking for a friend/inte...
1998    hi its me Amber . . a simple girl. searching f...
1999    I am a Lady of God first and then a Sweet Ange...
2000              Alegr,cariñosos,trabajador y pachonsito
Name: description, Length: 100, dtype: object
Translated 100 rows. Pausing for 5 seconds...
2001    i am a good girl with a nice sharp and attract...
2002    I like traveling, riding in general exploring ...
2003    I am a very laid back person with a good attit...
2004       Soy una mujer muy trabajadora y con iniciativa
2005    SOY UNA PERSONA SIN NINGUNA CLASE DE VICIO; ME...
                              ...
2098    I am a tender heart and a lovable with a great...
2099    soy una persona tranquila se lo que quiero y l...
2100    very simple lady who need love and to be care ...
2101    soy una persona seria . responsable muy divert...
2102    My name is Christine and i love my life… find ...
Name: description, Length: 100, dtype: object
Translated 100 rows. Pausing for 5 seconds...
2103    In my occupation as a Deck Officer in the "Mar...
2104    I am an open minded person looking for a serio...
2105    Soy Tranquilo trabajador y disfruto la naturaleza
2106    I would consider myself to be a kind, caring, ...
2107    Hello dear am called Nabel i live in Cameroon,...
                              ...
2199    Short. Sassy. Southern. Sweettea drinking. Shy...
2200    Alegre, divertida, buscando amigos de otras la...
2201    Dr.Raymond, is my name and am in my mid 40s, l...
2202    Soy un hombre trankilo, no me gusta la rumba, ...
2203                    I'm a loving caring mom of 2 boys
Name: description, Length: 100, dtype: object
Translated 100 rows. Pausing for 5 seconds...
2204    I'm a 38 year old mother of 2 girls, looking f...
2205    am here looking for the right woman for me. I ...
2206    Caballero atento y cariñoso en busca de una mu...
2207    I am a good man and handsome as people always ...
2208    I am looking for which whom in long-term relat...
                              ...
2302    My name is Rose. I am single, never been marri...
2303    I am going to give you everything you can expe...
2304    i am sinan by name i ma an engineer by profess...
2305    My names are Wallace Reuben.\nMy strengths are...
2306    Hello! I am a friendly outgoing lady-slim blon...
Name: description, Length: 100, dtype: object
Translated 100 rows. Pausing for 5 seconds...
2307    Hi! Excellent day to get acquainted.\nA genuin...
2308    i'm simple, funny unique, caring, I am sacrafi...
2309    I`m 5`9″ 175 bls with a athletic build , menta...
2310    i am very kind , honest and caring person . I ...
2311    Am cardinell frank a military soldier in unite...
                              ...
2407    Soy una persona leal, sincera y honesta, odio ...
2408    I’m have good sense of humor and i am an easy ...
2409    Friendly, Caring, Loving, Hard Worker, and Fun...
2410    I hope i can find a real soul mate on here…\nI...
2411    Me gusta ser romántico, super cariñoso. Algo b...
Name: description, Length: 100, dtype: object
Translated 100 rows. Pausing for 5 seconds...
2412    UNA PERSONA RESPETUOSA AMABLE DETALLISTA Y CAR...
2413                        Friendly,caring and good cook
2414    tengo 27 mido 177 soy venezolano trabajador es...
2415    Blue eyes black hair1,8cm.like hiking music da...
2416    I am a well grounded person who misses being i...
                              ...
2512    Soy un hombre de 34 años venezolano de GUARICO...
2513    I’m looking for a lady, who’s ready for a seri...
2514    I am a single mother who has spent some time o...
2515    I’m a loving and caring guy with great affecti...
2516    67 old looking for a sincere yet casual, trust...
Name: description, Length: 100, dtype: object
Translated 100 rows. Pausing for 5 seconds...
2517    Just a guy how knows how to treat women with r...
2518    I’m looking for an open-minded woman that will...
2519    I am a very affectionate and loving man who is...
2520    Soy muy sincero, emprendedor, honesto, respetu...
2521    Interesado en una relacion formal no importa e...
                              ...
2616    I like music, sports, mostly tennis and volley...
2617    I’m a honest, caring and easygoing man with a ...
2618    I am honest and responsible person. who also l...
2619    I;m 65 years old wanting to find love again. I...
2620                             Extrovertida amable leal
Name: description, Length: 100, dtype: object
Translated 100 rows. Pausing for 5 seconds...
2621    Cute gentleman, 5'9", big brown hazel eyes, sh...
2622    Hello dear, I am new here,I am not really all ...
2623     Tranquilo y me gusta las cosas claras sin rodeos
2624    I am kind, faithful and beautiful woman. I hav...
2625    Hello How are you doing? I hope you are fine? ...
                              ...
2721                   Extrovertido,bailo,me gusta hablar
2722    MUSIC PRODUCER/ARTIST OUT OF LOS ANGELES, CA.\...
2723    Hola soy un chico solo y con deceos por encont...
2724    some qualities you will find in me . i’m a goo...
2725    ask me about myself but i will like to meet ag...
Name: description, Length: 100, dtype: object
Translated 100 rows. Pausing for 5 seconds...
2726    Soy una Colombiana muy alegre, trabajadora. Me...
2727    soy una chica muy alegre y no soy caliente y q...
2728    I’m cheerful and sociable girl who dreams to f...
2729    I am an out going man who delights in seeing o...
2730    I am General military command John Palmas from...
                              ...
2825    A FATHER OF ONE AND SHE IS ALL THAT MATTERS TO...
2826    I am very a simple man by nature and I enjoy t...
2827    by myself that I am very sociable, affordable ...
2829    alegre,soy hombre madura con la madures debida...
2830    Amable , simpática, amorosa, me gusta cocinar,...
Name: description, Length: 100, dtype: object
Translated 100 rows. Pausing for 5 seconds...
2831    Nothing to say at moment, quiet, homebody, hav...
2832    Nice calm person. Independent. Love football a...
2833         Serio,trabajador y amoroso con su único hijo
2834    Hello dear, i have something very serious an i...
2835    Inteligente, buen sentido del humor, 1,80 cms,...
                              ...
2929    Soy romántica me gusta la música la naturaleza...
2930    A gentle man with lots of humor, full of smile...
2931    I am into fabrics design and i design for both...
2932    Hi my name is Selina and I’m 38years of age . ...
2933    I am an interesting, passionate and willing ma...
Name: description, Length: 100, dtype: object
Translated 100 rows. Pausing for 5 seconds...
2934    I’m emotionally and financially secure, self c...
2935    1,77 de estatura, 85 kg, color moreno claro, o...
2936    I'm a young at heart woman....I can be serious...
2939                           beckychiaramonte@gmail.com
2940              M gusta viajar oir musica ser romantico
                              ...

# Scaling down the categories

Employment type

In [ ]:
def employ(level):
    level = level.lower()
    if any(x in level for x in ['army', 'milit', 'marine', 'soldier', 'captain', 'general', 'solda', 'force']):
        return "military"
    elif any(x in level for x in ['stud?ent', 'studi', 'coll']):
        return "student"
    elif any(x in level for x in ['self', 'own', 'independ', 'entre', 'freelanc', 'propia', 'autonomo']):
        return "self-employed"
    elif any(x in level for x in ['engin', 'ingenier', 'mechanic', 'mecanic', 'automot']):
        return "engineering"
    elif any(x in level for x in ['gover', 'civil', 'public', '^un[$ ]']):
        return "government"
    elif any(x in level for x in ['academ', 'profes', 'research', 'lectur', 'universi', 'ologist', 'phd']):
        return "academic"
    elif any(x in level for x in ['nurs', 'enfermer', 'care', 'trainer', 'nanny', 'baby', 'niñera', 'social']):
        return "carer"
    elif any(x in level for x in ['construc', 'carpent', 'roof', 'build', 'survey', 'ass?es', 'crane', 'equipment']):
        return "construction"
    elif any(x in level for x in ['secur', 'detect', 'polic', 'investig', 'guard', 'custod', 'correct']):
        return "security"
    elif any(x in level for x in ['econom', 'analy']):
        return "analyst"
    elif any(x in level for x in ['farm', 'agri']):
        return "agriculture"
    elif any(x in level for x in ['sail', 'sea', 'fish']):
        return "naval"
    elif any(x in level for x in ['weld', 'factory', 'manufact', 'machin', 'industr']):
        return "manufacturing"
    elif any(x in level for x in ['tech', 'inform', '^it[$ ]', 'telecom', 'téch', 'software', 'sistem', 'system', 'tecnico', 'técnico', 'program', 'network', 'comput', 'electro', 'teck', 'develop']):
        return "technology"
    elif any(x in level for x in ['retail', 'comerci', 'shop', 'clerk', 'store', 'wait', 'vend', 'sell', 'cashier', 'assist', 'tender', 'customer', 'asist', 'mesero', 'restaur', 'camarer']):
        return "service"
    elif any(x in level for x in ['tour', 'holiday', 'vacat', 'steward', 'flight', 'travel', 'turis', 'hotel']):
        return "tourism"
    elif any(x in level for x in ['sale', 'market', 'ventas']):
        return "sales"
    elif any(x in level for x in ['writ', 'journal', 'period']):
        return "writing"
    elif any(x in level for x in ['handy', 'repair', 'repare', 'maint', 'plumb', 'electr', 'manteni', 'hvac']):
        return "repair"
    elif 'estat' in level:
        return "real estate"
    elif any(x in level for x in ['teach', 'educa', 'docen', 'maestr', 'lehr']):
        return "teacher"
    elif any(x in level for x in ['manag', 'supervis']):
        return "manager"
    elif 'contra' in level:
        return "contractor"
    elif any(x in level for x in ['ama de casa', 'wife', 'mother', 'mom', 'home', 'hogar']):
        return "housewife"
    elif any(x in level for x in ['unemploy', 'desempl', 'not work']):
        return "unemployed"
    elif any(x in level for x in ['financ', 'bank', 'insur', 'trad', 'negoci', 'cajero']):
        return "finance"
    elif any(x in level for x in ['chef', 'cook', 'bake', 'co[cs]iner', 'hospitali', 'food']):
        return "hospitality"
    elif any(x in level for x in ['secret', 'admin', 'recep', 'office', 'human resources', 'clerical', 'profec', 'entry']):
        return "clerical"
    elif any(x in level for x in ['driver', 'transport', 'deliver', 'ship', 'chofer', 'pilot', 'logist', 'cargo']):
        return "transport"
    elif any(x in level for x in ['housekeep', 'clean', 'limpi', 'janitor']):
        return "cleaner"
    elif any(x in level for x in ['architec', 'arquitec']):
        return "architect"
    elif any(x in level for x in ['account', 'contad']):
        return "accounting"
    elif any(x in level for x in ['law', 'judge', 'solicitor', 'barrister', 'legal', 'attorney', 'abogad']):
        return "legal"
    elif any(x in level for x in ['music', 'sport', 'play', 'produc', 'músico', 'deporti', 'conduc', 'soccer']):
        return "entertainment"
    elif any(x in level for x in ['artist', 'art', 'paint', 'sculpt', 'boutique', 'photo', 'foto', 'choreo']):
        return "artist"
    elif any(x in level for x in ['jewel', 'antiq', 'print']):
        return "specialist"
    elif any(x in level for x in ['doctor', 'physic', 'ician', 'medic', 'psicolog', 'terap', 'therap', 'salud', 'health', 'médic', 'surgeon', 'denti', 'pharma']):
        return "medical"
    elif any(x in level for x in ['beaut', 'styl', 'estili', 'peluquer', 'hair', 'salon', 'manic']):
        return "beauty"
    elif any(x in level for x in ['fashion', 'model']):
        return "fashion"
    elif any(x in level for x in ['design', 'decor', 'flower', 'desiñ', 'deisñ']):
        return "designer"
    elif any(x in level for x in ['warehouse', 'work', 'opera', 'obrer', 'labor', 'labour', 'landscap', 'mining', 'mine', 'load', 'trabajo', 'pack', 'foreman']):
        return "manual"
    elif any(x in level for x in ['bus[iy]?nes', 'empresa', 'execut', 'direct', 'ceo', 'ejecut']):
        return "business"
    elif 'consult' in level:
        return "consultant"
    elif any(x in level for x in ['retir', 'jubilad', 'pension']):
        return "retired"
    elif 'disab' in level:
        return "disabled"
    elif pd.isnull(level):
        return None
    else:
        return "other"

Ethnic type

In [23]:
def ethnise(level):
    if level.lower() not in ['asian', 'black', 'hispanic', 'middle eastern', 'mixed', 'native american', 'pacific islander', 'white']:
        return "other"
    else:
        return level

In [27]:
df_combined.loc[:, "occupation"] = df_combined["occupation"].apply(employ)
df_combined.loc[:, "ethnicity"] = df_combined["ethnicity"].apply(ethnise)

In [28]:
df_combined.dtypes
cols_to_categorical = ['ethnicity', 'occupation', 'status', 'country', 'age_group']
df_combined[cols_to_categorical] = df_combined[cols_to_categorical].astype('category')

df_combined.dtypes

age              object
location         object
ethnicity      category
occupation     category
status         category
description      object
scam              int64
age_group      category
country        category
dtype: object